<!DOCTYPE html>
<html lang="en">
	<head>

		<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://frozen-chamber-2292.herokuapp.com/static/ice_cream_ordering/style.css" />
		<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script> 
  	<script src='//frozen-chamber-2292.herokuapp.com/static/ice_cream_ordering/bootstrap.min.js'></script> 
	</head>

	<body>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
	    		<div class="navbar-header">
						<ul class="nav navbar-nav">
							<li><a href="/">Home</a></li>
							<li><a href="/flavors">View Flavors</a></li>
							<li><a href="/containers">View Containers</a></li>
							<li><a href="/toppings">View Toppings</a></li>
							<li><a href="/new">Place Order</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<div id="content">
				<div class="container">
					<div class="row">
						<div class="col-md-12">

							{% block content%}
							{% endblock %}
							
						</div>
					</div>
				</div>
			</div>

		<div class='footer'>
      <div class='container'>
        <div class='row'>

          <div class='col-md-4'>
          <h4>About Claire</h4>
          <p><i>Claire is a purveyor of fine ice cream. <a href='new.html'>Buy ice cream today!</a></p>
          <p><a href='flavors'>Claire's Flavors</a></p>
          </div>

          <div class='col-md-4'>
          <h4>Links</h4>
          <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='flavors'>Flavors</a></li>
            <li><a href='toppings'>Toppings</a></li>
            <li><a href='containers'>Containers</a></li>
          </ul>
          </div>

          <div class='col-md-4'>
          <h4>Contact Claire</h4>
          <ul>
            <li>NYC</li>
            <li>555-ICE-CREAM</li>
            <li><a href='mailto:claire@clairesicecream.com'>claire@clairesicecream.com</a></li>
          </ul>
          <p>Claire's Ice Cream &copy;2015.</p>
          </div>

        </div>
      </div>
    </div>

		</div>
	</body>
</html>