body {
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
}
img {
	max-width: 255px;
}

.top-buffer { 
	margin-top:40px; 
}

.bottom-buffer { 
	margin-bottom:60px; 
}

h1,h2,h3,h4{
	font-family: 'Indie Flower', cursive;
}

h1 {
	color: rgb(79,0,122);
  font-size: 50px;
}

h2,h3,h4 {
	color:rgb(26,109,171);
	  font-size: 28px;
}

.navbar {
	font-family: 'Indie Flower', cursive;
	background: purple;

}

.navbar a {
	color: white;
	font-size: 20px;
}

.order-btn {
		font-size: 32px;
}

.form-control {
	font-size: 20px;
}

input.form-control {
	font-size: 32px;
}