<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
		<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	</head>

	<body>
		<div class="container">
			<h1>Claire's Ice Cream</h1>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
	    		<div class="navbar-header">
						<ul class="nav navbar-nav">
							<li><a href="/">Home</a></li>
							<li><a href="/flavors">View Flavors</a></li>
							<li><a href="/containers">View Containers</a></li>
							<li><a href="/toppings">View Toppings</a></li>
							<li><a href="/new">Place Order</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<h3>Welcome to Claire's Ice Cream!
			</h3>
		</div>
	</body>
</html>