{% extends "base.html" %}

{% block content %}

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
			<h1>Welcome to Claire's Ice Cream!
			</h1>
		</div>
	</div>

	<div class='row'>
		<div class='col-md-12'>
		</div>
	</div>

	<div class='row'>
  	<div class='col-md-6'>
			<a href="/new"  class="btn btn-primary btn-lg">Place An Order!</a>
			<h3>Choose from Claire's delicious flavors, add unlimited toppings, and select a container.
			</h3>
		</div>
	 	<div class='col-md-3'>
			<img src="https://frozen-chamber-2292.herokuapp.com/static/ice_cream_ordering/images/strawberry.png">
		</div>
		<div class='col-md-3'>
			<img src="https://frozen-chamber-2292.herokuapp.com/static/ice_cream_ordering/images/chocolatesprinkles.jpg">
		</div>

	</div>
		<div class='row'>
		<div class='col-md-12'>
		</div>
	</div>

</div>


{% endblock content%}



		