<h1>Claire's Ice Cream</h1>

<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/flavors">View Flavors</a></li>
	<li><a href="/containers">View Containers</a></li>
	<li><a href="/toppings">View Toppings</a></li>
	<li><a href="/new">Place Order</a></li>
</ul>

<h3>Place Order</h3>

<div class="col-lg-10" class="form-group">
	<p>Choose A Flavor:</p>
	<form action="{% url 'create' %}" method="post">
	{% csrf_token %}
	{% for f in all_flavors %}
	    <input type="radio" name="flavor" id="flavor{{ forloop.counter }}" value="{{ f.id }}" class="form-control"/>
	    <label for="flavor{{ forloop.counter }}">{{ f.flavor }}</label><br />
	{% endfor %}

	<p>Choose A Container:</p>

	{% for c in all_containers %}
	    <input type="radio" name="container" id="container{{ forloop.counter }}" value="{{ c.id }}" class="form-control"/>
	    <label for="container{{ forloop.counter }}">{{ c.option }}</label><br />
	{% endfor %}

	<p>Choose Your Toppings:</p>

	{% for t in all_toppings %}
	    <input type="checkbox" name="toppings" id="toppings{{ forloop.counter }}" value="{{ t.id }}" class="form-control"/>
	    <label for="toppings{{ forloop.counter }}">{{ t.variety }}</label><br />
	{% endfor %}

	  Name: <input type="text" name="fullname" class="form-control"><br>
	  Address: <input type="text" name="address" class="form-control"><br>
	  Email: <input type="text" name="email" class="form-control"><br>
	  Phone: <input type="text" name="phone" class="form-control"><br>

	<input type="submit" value="Place Order" class="form-control"/>
	</form>
</div>